.click-item {
    height: 170px;
    width: 170px;
    border: 5px solid;
    border-radius: 3px;
    background-size: cover;
    background-position: 50%;
    margin: 8px 25px;
}

.click-item:hover {
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 12px 25px rgba(0,0,0,.40), 0 12px 12px rgba(0,0,0, .30);
}