.container {
    background: green;
    padding: 20px;
  }
  
  .row {
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .col {
    text-align: center;
    padding: 20px;
    margin: 20px;
  }